@mixin clearfix()
  &:before, &:after
    content: ""
    display: table

  &:after
    clear: both
*
  outline: none

ul
  padding: 0
  margin: 0

  li
    list-style: none


html, body
  width: 100%
  height: 100%

body
  font-family: Arial, sans-serif
  margin: 20px auto

  .calculator
    width: 380px
    background-color: #f0f0f0
    border: 1px solid #ffffff

    .calculator__wrapper
      background-color: #202020
      border: 1px solid #000000

      .calc__input
        width: 100%
        height: 60px

        .calc__input-display
          background-color: #202020
          color: #f0f0f0
          border: none
          width: 100%
          height: 100%
          text-align: right
          font-size: 50px

      .keyboards
        .key__list
          text-align: justify

          &:after
            content: ''
            display: inline-block
            height: 0
            width: 100%

          .key__item
            height: 56px
            width: 24%
            display: inline-block
            margin-bottom: 1px
            .key__item_button
              width: 100%
              height: 100%
              background-color: #c9cace
              border: none
              font-size: 30px

          .key__item:nth-child(4n)
            .key__item_button
              background-color: #fa7a0f
